body, html {
    position: relative;
    background: #E5E5E5;
    color: #444;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	z-index: 2;
}

.layout-column{
	background: #E5E5E5;
}

#home{
	width: 100%;
    margin: 0 auto;
    max-width: 700px;
}

	#weteo{
		    width: 300px;
    background: white;
    margin: 0 auto;
	}

	#cardHead{
		position: relative;
    	padding-bottom: 50px;
	}
	#cardHead * {
		z-index: 2;
		position: relative;
	}
	
	#cardHead.night {
		 color : white;
	}
	
	
	
	.favIcon{
		vertical-align: baseline;
		color : orange;
	}
	
	.night .favIcon{
		color: white;
	}
	
	#cardMap{
		position: absolute;
		z-index: 1;
		top:0;
		left: 0px;
		width: 100%;
		height: 100%;
		background-size: cover; 
		background-color: #F3D9A9;
    	background-position:  center;
    	-webkit-filter: sepia(1);
    	filter: sepia(1);
    	
	}
	
	 #cardMap.night{
		 -webkit-filter: sepia(1) invert(1);
		 filter: sepia(1) invert(1);
	}
	
	#cardHead md-toolbar{
		background-color: transparent;
	    color: inherit;
	}
	
	#cardHead md-icon{
		color : black;
	}
	
	#cardHead.night md-icon{
		color : white;
	}
	
	#searchButton{
		    position: absolute;
    bottom: -33px;
    right: 0;
        z-index: 3;
	}
	
#cardCityName{
	font-size: 36px;
    text-align: center;
    display: block;
    text-align: left;
    position: relative;
 
}

#cardCityIcon{
    font-size: 64px;
    color: white;
    vertical-align: middle;
    text-shadow: 0px 1px 1px #444444;
    margin-right: 24px;
}

#cardCityTemp{
	font-size: 64px;
    line-height: 64px;
    vertical-align: middle;
    display: inline-block;
    font-weight: 100;
}



@media screen and (min-width: 700px) {
    #cardCityIcon{
		font-size: 128px;
	}
}

sup{
    font-size: .3em;
    vertical-align: top;
    top: 1em;
}


.cardCityDescription{
	opacity: .5;
    position: relative;
    text-align: center;
    z-index: 5;  
}

#cardCityInfo{
	text-align: center;
	margin-top: 10px;
}

.wi-wind-direction{
	font-size: 28px;
    vertical-align: middle;
}


.wi-owm-day-800 {
	color: orange !important;
    text-shadow: none !important;
    
    -webkit-animation: rotation360 30s infinite linear;
    -moz-animation: rotation360 30s infinite linear;
    -o-animation: rotation360 30s infinite linear;
    animation: rotation360 30s infinite linear;
}

@-webkit-keyframes rotation360 {  	from {-webkit-transform: rotate(0deg);}	to   {-webkit-transform: rotate(359deg);}	}
@-moz-keyframes rotation360 {    	from {-moz-transform: rotate(0deg);}	to   {-moz-transform: rotate(359deg);}	}
@-o-keyframes rotation360 {   		from {-o-transform: rotate(0deg);}		to   {-o-transform: rotate(359deg);}	}
@keyframes rotation360 {    		from {transform: rotate(0deg);}			to   {-webkit-transform: rotate(359deg);}	}
