<div layout="column" ng-cloak>
  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    	
      <md-toolbar class="md-theme-indigo">
	      <div class="md-toolbar-tools">
	        <md-button class="md-icon-button" aria-label="Close" ng-click="closeLeft()"  hide-gt-md>
	          <md-icon md-svg-src="img/back.svg" ></md-icon>
	        </md-button>
	        <span flex></span>
	        <h1 class="md-toolbar-tools">Star</h1>
	        
	        
	        </div>
	      </md-toolbar>
	     
      <md-content layout-padding ng-controller="LeftCtrl">
        
        

        <span ng-include="'html/list.html'" ng-controller="ListController"></span>
        
      </md-content>
    </md-sidenav>
    <md-content flex >
      <div layout="column" layout-fill layout-align="top center">
       
         <div ng-include="'html/home.html'" ng-controller="HomeController" id="home" class="animated {{loadingClass}}"></div>
       	
       	
        
      </div>
      <div flex></div>
    </md-content>
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
      <md-toolbar class="md-theme-light">
	      <div class="md-toolbar-tools">
	        <h1 class="md-toolbar-tools">Search</h1>
	        <span flex></span>
	        <md-button class="md-icon-button" aria-label="Close" ng-click="closeRight()">
	          <md-icon md-svg-src="img/close.svg" ></md-icon>
	        </md-button>
	      </md-toolbar>
	      </div>
      <md-content ng-controller="RightCtrl" layout-padding>
        
        <div ng-include="'html/search.html'" ng-controller="SearchCtrl"></div>
        
        
      </md-content>
    </md-sidenav>
  </section>
</div>