
		<md-list ng-cloak>
			
			  
			  <md-list-item class="" ng-repeat="fav in favList" ng-click="rechercheID(fav.id)">
			    <p>
			    	
			    	{{ fav.label }}</p>
			    
			    
			    <md-button class="md-icon-button removeFav" aria-label="Remove this fav" ng-click="removefav(fav.id)">
		          <md-icon md-svg-src="img/close.svg" ></md-icon>
		        </md-button>

			    
			  </md-list-item>
			  
			</md-list>
			
			<a ng-click="goSearch()" class="md-raised md-button" >
				 Search...
			</a>
			
			<a ng-click="goSearch()" class="md-raised md-button md-primary" ng-show="favList.length == 0">
				No fav!
				 Search...
			</a>

<style>
	.removeFav{
		opacity: .5;
	}
	
	.removeFav:hover, .removeFav:active, .removeFav:focus{
		opacity: 1;
	}
	
</style>